name: Publish to pypi.org

on:
  workflow_dispatch:
  release:
    types:
      - published

jobs:
  publish:
    name: Publish python package to PyPi
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        python: [ '3.9' ]
        poetry: [ '1.8' ]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 1

    - name: Set up Python ${{ matrix.python }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python }}

    - name: Install poetry
      uses: abatilo/actions-poetry@v3
      with:
        poetry-version: ${{ matrix.poetry }}

    - name: Cache poetry environment
      uses: actions/cache@v4
      id: cache
      with:
        path: ~/.virtualenvs
        key: poetry-${{ matrix.os }}-${{ matrix.python }}-${{ hashFiles('**/poetry.lock') }}
        restore-keys: |
          poetry-${{ matrix.os }}-${{ matrix.python }}-${{ hashFiles('**/poetry.lock') }}

    - name: Set Poetry config
      run: |
        poetry config virtualenvs.in-project false
        poetry config virtualenvs.path ~/.virtualenvs

    - name: Install Dependencies
      run: poetry install
      if: steps.cache.outputs.cache-hit != 'true'

    - name: Publish package
      run: |
        poetry build
        poetry publish